body {
    background-color: #f1f1f1;
}

.left-bar {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(163deg, rgba(2, 0, 36, 1) 0%, rgba(28, 105, 121, 1) 50%);
    background: -webkit-linear-gradient(163deg, rgba(2, 0, 36, 1) 0%, rgba(28, 105, 121, 1) 50%);
    background: linear-gradient(163deg, rgba(2, 0, 36, 1) 0%, rgba(28, 105, 121, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#1c6979", GradientType=1);
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.left-bar .label {
    border-bottom: solid 2px white;
    margin-bottom: 10px;
    margin-top: 25px;
}

li::marker{
    font-size: x-large;
}

.left-bar img {
    width: 250px;
    border-radius: 100%;

}

.left-bar .item p {
    margin: 0px;
    padding-left: 0px;
}

.left-bar .item i {
    font-size: large;
}

.left-bar .item .col-2 {
    padding-right: 0px;
}

.left-bar .item {
    margin-bottom: 10px;
}

.left-bar a {
    color: white;
    padding-left: 0px;
    text-decoration-line: none;
    transition: 0.5s;
}

.left-bar a:hover {
    color: rgb(172, 172, 172);
    /*text-decoration-line: underline;*/
}

.right-content .label {
    border-bottom: solid 2px black;
}

.content-ls li p {
    margin-bottom: 0px;
}

.content-ls li {
    margin-bottom: 10px;
}

.content-ls a {
    color: black;
    padding-left: 0px;
    text-decoration-line: none;
    transition: 0.5s;
}

.content-ls a:hover {
    color: #1c6979;
    transition: 0.5s;
}

.right-content .item {
    margin-bottom: 20px;
}

.progress{
    border: solid 1px darkslategray;
}

.bg-info{
    background-color: #071535!important;
}

.fadeInFirst, .fadeInSecond{
    display: none;
}


.sublu li{
    margin: 0 !important;
}

.fadeInProfilePicture{
    opacity: 0.0;
}